.env
/.env.*
!.env.example
!.env.production.example

/storage/*
!/storage/.gitkeep
!/storage/uploads/
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/quotes/
/storage/quotes/*
!/storage/quotes/.gitkeep
!/storage/sessions/
/storage/sessions/*
!/storage/sessions/.gitkeep

/logs/*
!/logs/.gitkeep
/.phpunit.cache
vendor/
node_modules/
